body {
    background-color: rgb(229, 243, 218);
    color: rgb(61, 60, 59);
    font-family: Arial, Helvetica, sans-serif;
    
}

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
    
}

h1{
    
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(11, 7, 7);
    font-style: strong;
    margin: 10,0;
    
    
    
}
h2{
    text-align: left;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    color: rgb(19, 19, 17);
    
}

h3{
    text-align: center;
    color: rgb(11, 7, 7);
    font-size: 20px;
    margin: 0;

}

p{
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(242, 239, 242);
    
  }
  
  .nav-bar ul {
    display: flex;
    gap: 4em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    list-style: none;

}
  .nav-bar li{
    flex: 1;
  }

.experience-container {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(212, 209, 209);
 
    
}

.experience-container div {
    background-color: antiquewhite;
}

.container-connect {
   display: flex;
   flex-direction: row;
   border: 5px solid rgb(212, 209, 209);;
   
}
.container-connect div {
    
}






  



